

#home {

  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 25em;
  /*font-family: 'Poiret One', cursive;*/
}

/* vert-centered text */
.text-vertcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vertcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#about{
	background: url(../img/about.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5em;
}

#portfolio {
	background: url(../img/portfolio.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  padding-top: 5%;
  padding-bottom: 5em;
}


#contact {
  background: url(../img/contact2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  padding-top: 5%;
  padding-bottom: 15em;
  
}

#description {
  background-color: #FFFFFF;
  opacity: 0.6;
  border-radius: 25px;
}

.top-project {
	height:200px;
	width: 300px;
  display: inline-block;
	border: 4px solid black;
  margin-left: auto;
margin-right: auto;
float: none !important;
}

.top-project img {
  margin-right: auto;
  margin-left: auto;
}

.bottom-project {
	height: 100px;
	width:300px;
	border: 1px dotted black;
	background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient( black,grey); /* Safari */
  background: -o-radial-gradient(grey, black); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient( grey,black); /* Firefox 3.6 to 15 */
  background: radial-gradient(grey, black); /* Standard syntax */
  margin-left: auto;
margin-right: auto;
float: none !important;
top: -5px;
}

.bottom-project p{
	color: white;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.bottom-project h4{
  color: grey;
}

.footer {
  position: relative;
  margin-top: -120px;
  height: 120px;
  clear:both;
  padding-top:20px;
  background-color: #f8f8f8;
} 

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

#currentTime {
    font-size: 222px;
    color: white;
    font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

#content {
    padding-top: 300px;
    
}

.weather-body {
    background-color: firebrick;
}

#weatherContent {
    font-size: 62px;
    color: white;
    font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.unitSelect {
  cursor: pointer;
}